.theme-default-content>p>code,
.theme-default-content>ul>li>code,
.theme-default-content>ul>li>ul>li>code,
.theme-default-content>ol>li>code,
.theme-default-content>ol>li>p>code,
.theme-default-content>ol>li>strong>code,
.theme-default-content>.custom-block.tip>ol>li>code,
.theme-default-content>ul>li>p>code {
  background-color: #ffeee8 !important;
  color: #ff561b !important;
  font-weight: bold;
}

.theme-default-content>div>p>code {
  font-weight: bold;
}

.theme-default-content>p>b {
  background-color: #edf5fd;
  color: #42b983;
  font-weight: bold;
  font-size: 90%;
  margin: auto 2px;
  padding: 0 4px;
}